@{
    Layout = null;
}

<div class="newAgreement">
    <div class="agreementLeft">
        <h2>Edit Agreement</h2>
        <input type="text" name="title" id="contractTitle" placeholder="What is the title?" value="@ViewBag.agreement.title"/>
        <textarea name="description" id="contractDescription" placeholder=" short description...">@ViewBag.agreement.description</textarea>

        <iframe class="fileUploadFrame" src="AgreementUploadForm?id=@(ViewBag.agreement.id)"></iframe>
        
        <!--<div class="fileUpload"><input type="file" id="fileUpload" onchange="com.CreateAgreement.fileUpload($(this));" /><img src="/Content/images/btnUploadDocuments.png" class="uploadDocuments" onclick="$('#fileUpload').click();"></div>
            -->

        <h3>Who's involved?</h3>
        <input type="text" name="contactName" id="contactName" placeholder="Name..." />
        <input type="text" name="contactPhone" id="contactPhone" placeholder="Phone Number..." />
        <input type="text" name="contactEmail" id="contactEmail" placeholder="Email Address..." />
        <input type="text" name="contactStreet" id="contactStreet" placeholder="Street Address..." />
        <input type="text" name="contactCity" id="contactCity" placeholder="City..." class="contactCity" />
        <input type="text" name="contactState" id="contactState" placeholder="State..." class="contactState" />

        <div class="addAnother" onclick="com.CreateAgreement.addContact(com.CreateAgreement.getContactFromAjaxForm);">+ Add another person to this project</div>
        <!--<img src="/Content/images/btnSaveToContacts.png" class="saveToContacts" onclick="com.CreateAgreement.saveContact();" />-->
    </div>
    <div class="agreementRight">
        <h2>Associated Files</h2>
        <div id="associatedFiles">

        </div>
        <h2>Associated Contacts</h2>
        <div id="associatedContacts">
            @foreach (var contact in ViewBag.agreement.Contacts) {
            <div class="agreementContact">
                <div class="deleteContact" onclick="com.CreateAgreement.deleteContact(this, @contact.id);"></div>
                <div class="contactName">
                    @contact.nickname
                </div>
                <div class="contactPhone">
                    @contact.phone
                </div>
            </div>
            }
        </div>
    </div>
    <div class="clearfix">
        <img src="/Content/images/btnFinish.png" class="nextStep" onclick="com.CreateAgreement.saveEdits(com.CreateAgreement.getCreateFromAjaxForm);" />
    </div>
</div>
